@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}

body{
    background: linear-gradient(to bottom, rgb(255, 89, 117), rgb(0, 0, 0));
    color: rgb(255, 255, 255);
    text-align: center;
    
    
}



h1{
    background-color: rgba(0, 0, 0, 0.509);
    height: 50px;
    width: 400px;
    margin: auto;
    border-radius: 10px 10px 0px 0px;
    text-shadow: 3px 3px 3px black;
    
}

.fora{
    position: relative;
    background-color: white;
    background-image: url('tom.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 600px;
    width: 400px;
    margin: auto;
    box-shadow: inset 0px 0px 10px 10px  rgba(0, 0, 0, 0.564);
}

section > a {
    transition: 0.5s;
    color: rgb(0, 0, 0);
    background-color: rgba(250, 54, 96, 0.769);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.253);
    text-decoration: none;
    
}

#s{
    position: absolute;
    left: 100px;
    top: 620px;
}
#n{
    position: absolute;
    right: 100px;
    top: 620px;
}

a:hover{
    background-color: rgba(234, 13, 61, 0.769);
    border-radius: 20px;
    color: white;
    text-decoration: underline;
}


.baixo{
    margin-bottom: 50px ;
    background-color: rgba(250, 32, 83, 0.295);
    padding: 40px;
    height: -10px;
    width: 320px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0px 0px 10px 10px;
    
}